@import url("reset.css");
@import url("buttons.css");
@import url("radio_buttons.css");

h1 {
    padding: 2rem 2rem 1rem 2rem;
    font-size: 2rem;
    color: #2243b6;
    text-shadow: #020c31 -1px 2px 3px;
}

h2 {
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    place-items: center;
    place-content: center;
    padding: 1rem;
}

.survey {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 80%;
    margin: 0 auto;
    max-width: 800px;
}

.survey__title {
    text-align: center;
    margin: 1rem 0;
}

.survey__question {
    padding: 0 0 2rem 5rem;
}

.survey__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.submissions__container {
    max-width: 80%;
    margin: 0 auto 2rem;
    font-size: .75rem;
}

.submission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(221, 224, 228);
    margin-bottom: .5rem;
    padding: 0 1.25rem;
    border: #2243b6 solid 1px;
}

.submission__response {
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin: 0 .333rem;
}

.question {
    margin-right: .2rem;
}

.answer {
    text-transform: uppercase;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    gap: .333rem;
    place-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.footer__details {
    margin: 0 1rem;
    color: #2243b6;
}